---
import type { ImageMetadata } from "astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import { Box, CircleChevronRight } from "@lucide/astro";

interface Props {
  title: string;
  href: string;
  category: "dreams" | "work" | string;
  image: ImageMetadata;
}

const { title, href, category, image } = Astro.props;
---

<a
  href={`/posts/${href}/`}
  class="flex flex-col p-2 w-full gap-2 border-foreground border rounded-md group hover:border-primary active:border-accent transition"
>
  {
    image && (
      <div class="flex aspect-video overflow-hidden items-center justify-center rounded-sm">
        <Image
          class="object-cover w-full h-full group-hover:scale-105 transition"
          src={image}
          alt={`Featured image: ${title}`}
        />
      </div>
    )
  }
  <div class="px-4 flex justify-between items-center">
    <div>
      <h2
        class="text-foreground group-hover:text-primary group-active:text-accent font-extrabold text-xl uppercase transition"
      >
        {title}
      </h2>
      <h3 class="flex gap-2 items-center text-foreground text-lg uppercase">
        <Box size={20} />
        {category}
      </h3>
    </div>
    <CircleChevronRight
      size={30}
      class="text-foreground group-hover:text-primary group-active:text-accent group-hover:scale-115 transition"
    />
  </div>
</a>
