---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import type { ImageMetadata } from "astro"
import defaultHeroImage from '../assets/images/cubes-building.webp';
import { ClientRouter } from "astro:transitions"

const { frontmatter } = Astro.props
const { title, heroImage, heroIntent} = frontmatter;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*');

let imageModule: { default: ImageMetadata } | undefined;
// Check if a heroImage is specified and if it exists in our globbed images
if (heroImage && images[`/src/assets/images/${heroImage}`]) {
  // Load the image module
  imageModule = await images[`/src/assets/images/${heroImage}`]();
}

// Use the loaded image's default export, or fall back to the statically imported default image
const finalImage = imageModule ? imageModule.default : defaultHeroImage;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Thiiz - 3D render & motion</title>
    <ClientRouter />
	</head>
	<body>
    <Header />
    <Hero title={title} featuredImage={finalImage} intent={heroIntent} />
    <main class="p-4 w-full flex flex-col items-center gap-4">
      <section class="max-w-4xl text-white text-lg flex flex-col items-center gap-4 [&_strong]:text-primary">
	      <slot />
      </section>
    </main>
	</body>
</html>
